<html>


<head> 
<title> Intro </title>

<style>
.center {
  text-align: center;
}

.right {
  position: absolute;
  right: 1000px;
  width: 300px;
  padding: 10px;
}

#content #text {
    position:relative;
    width:950px;
    height:215px;
    color:red;
}


</style>

</head>

<body>

<form method='GET' action="#">
<div class="center">

Enter text:<input type="text" name="txt" id="txt">
<input type="submit" value="Submit"><br/>

{{predicted_sentiment}}

</div>





</form>



</body>

</html>